

/*=============================================*/
/*============> Logo de Instagram <============*/
/*=============================================*/
.instagram{
    height: 20rem;
    width: 20rem;
    background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
    border-radius: 30%;
    position: relative;
}
.instagram::before{
    content: '';
    border: 1rem solid #fff;
    border-radius: 30%;
    width: 12.5rem;
    height: 12.5rem;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
}
.instagram::after{
    content: '';
    border: 1rem solid #fff;
    border-radius: 100%;
    width: 5rem;
    height: 5rem;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
}
.instagram > span{
    content: '';
    border: 1rem solid #fff;
    border-radius: 100%;
    width: 0;
    height: 0;
    right: 6rem;
    position: absolute;
    margin: auto;
    top: 6rem;
}
/*=============================================*/

/*=============================================*/
/*===========> Logo de Netflix <===============*/
/*=============================================*/
.netflix{
    background-color: #b1060f;
    width: 60px;
    height: 250px;
    position: relative;
}
.netflix::before{
    background-color: #b1060f;
    width: 60px;
    height: 250px;
    position: absolute;
    content: '';
    left: 90px;
}
.netflix::after{
    background-color: #222;
    width: 175px;
    height: 20px;
    position: absolute;
    content: '';
    left: -15px;
    bottom: -10px;
    border-radius: 50%;
}
.netflix > span{
    background-color: #e50913;
    width: 60px;
    height: 250px;
    position: absolute;
    left: 45px;
    transform: skew(20deg);
    box-shadow: 0 0 10px -4px #222;
}
/*=============================================*/

/*=============================================*/
/*=============> Logo de Tiktok <==============*/
/*=============================================*/
.tiktok{
    margin: 100px auto;
    width: 37px;
    height: 180px;
    background-color: #fff;
    box-shadow: 11px 10px 0 0 #fe2d52;
    filter: drop-shadow(-10px -10px 0 #28ffff);
    position: relative;
}
.tiktok::after{
    content: '';
    position: absolute;
    border: 37px solid #fff;
    border-top-color: transparent;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: rotate(45deg);
    filter: drop-shadow(16px 0 0 #fe2d52);
    top: 128px;
    left: -62.25px;
}
.tiktok::before{
    content: '';
    position: absolute;
    border: 30px solid transparent;
    border-bottom-color: #fff;
    width: 140px;
    height: 140px;
    border-radius: 100%;
    transform: rotate(45deg);
    filter: drop-shadow(14px 0 0 #fe2d52);
    top: -70px;
    left: -0px;
}
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/