body{
	background: #2b2b2b;
	color: aliceblue;
}
/*=============================================*/
/*=================> Navbar <==================*/
/*=============================================*/
.nav-hor{
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 6%;
	background-color: #3b3b3b;
}
.nav-hor > a{
	color: aliceblue;
	font-size: 26px;
	display: flex;
}
.nav-hor > a img{
	width: 40px;
	height: 40px;
}
.nav-hor > a span{
	padding-left: 12px;
}
.nav-hor > a:hover{
	color: #1615f0;
}
.nav-hor .enlace > a{
	color: aliceblue;
	font-size: 20px;
}
.nav-hor .enlace > a:hover{
	color: #1615f0;
}
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
